[flake8]
exclude = .git,.nox,noxfile.py,__pycache__
max-line-length=88
max-doc-length=72
ignore = ANN101,ANN102
import-order-style = google
application-import-names = stlt
docstring-convention = numpy
